In [1]:
import pandas as pd

In [13]:
tabela = pd.read_csv('r'C:\Users\User\Downloads\Curso\bootcamp_Python\01_aula\Compras.csv', sep = ';'')

SyntaxError: invalid syntax (651115809.py, line 1)

In [11]:
display(tabela)

     CódigoCompra;Data;Fornecedor;Produto;Quantidade;ValorUnitário;ValorFinal
0     65014;01/12/2023;Fabrica Hashtag Brasil;Óleo M...
1     65014;01/12/2023;Fabrica Hashtag Brasil;Kit Em...
2     65016;01/12/2023;Fabrica Doidona Brasil;Bateri...
3     65016;01/12/2023;Fabrica Doidona Brasil;Filtro...
4     65017;01/12/2023;Original Fábrica Brasil;Farol...
...                                                 ...
4538  69996;26/12/2023;Revenda Argentina;Logo Hashta...
4539  69996;26/12/2023;Revenda Argentina;Terminal de...
4540  69996;26/12/2023;Revenda Argentina;Farol Princ...
4541  69997;26/12/2023;Fabrica Doidona Mexico;Pneus ...
4542  69997;26/12/2023;Fabrica Doidona Mexico;Kit Em...

[4543 rows x 1 columns]