# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

# Passo a Passo

* Passo 1: Abrir o navegador

* Passo 2: Importar a base de dados

* Passo 3: Para cada produto da base 

* Passo 4: Pesquisar o preço do produto

* Passo 5: Atualizar o preço na base de dados

* Passo 6: Decider quais produtos comprar 

### webdriver funciona em navegadores
firefox -> geckodriver
chrome -> chromedriver (instalar)

In [12]:
#!pip install selenium

In [13]:
#Passo 1: Abrir o navegador

from selenium import webdriver
navegador = webdriver.Chrome()
navegador.get('https://www.google.com/')

In [14]:
# Passo 2: Importar a base de dados
import pandas as pd
tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [15]:
for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']
    print(produto)
    
    produto = produto.replace('ó', 'o').replace('ã', 'a').replace( 'ú', 'u').replace('ç', 'c').replace('é', 'e').replace('á', 'a')
    

    link = f'https://www.melhorcambio.com/{produto}-hoje'
    navegador.get(link)

    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    preco = preco.replace('.', '') .replace(',', '.')
    print(preco)
    tabela.loc[linha, "Preço Atual"] = float(preco)

display(tabela)

Milho
84.66
Soja
158.83
Boi
277.80
Petróleo
386.34
Algodão
482.28
Açúcar
134.68
Café
1106.86
Ouro
333.75
Trigo
1546.16
Tilápia
9.01

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        84.66      NaN
1      Soja       163.59       158.83      NaN
2       Boi       282.20       277.80      NaN
3  Petróleo       424.37       386.34      NaN
4   Algodão       497.76       482.28      NaN
5    Açúcar       136.23       134.68      NaN
6      Café      1092.87      1106.86      NaN
7      Ouro       321.77       333.75      NaN
8     Trigo      1549.11      1546.16      NaN
9   Tilápia         9.05         9.01      NaN

In [16]:
#preencher a coluna comprar
tabela["Comprar"] = tabela['Preço Atual'] < tabela['Preço Ideal']
display(tabela)

#exportar a base para o excel
tabela.to_excel('commodities_Atualizado.xlsx', index=False)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        84.66     True
1      Soja       163.59       158.83     True
2       Boi       282.20       277.80     True
3  Petróleo       424.37       386.34     True
4   Algodão       497.76       482.28     True
5    Açúcar       136.23       134.68     True
6      Café      1092.87      1106.86    False
7      Ouro       321.77       333.75    False
8     Trigo      1549.11      1546.16     True
9   Tilápia         9.05         9.01     True